# ------------------------------------------------------------------------------
# Python cache, build, packaging
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# ------------------------------------------------------------------------------
# Virtual environments
# ------------------------------------------------------------------------------
.env
.venv/
env/
venv/

# ------------------------------------------------------------------------------
# Jupyter Notebook checkpoints
# ------------------------------------------------------------------------------
**/.ipynb_checkpoints

# ------------------------------------------------------------------------------
# Data and model artifacts (shouldn't be versioned)
# ------------------------------------------------------------------------------
trained_models/
*.pth
*.pt
*.h5
*.ckpt
*.tar


cardiac_datset/
data_sample/heart/
**/wandb/

# ------------------------------------------------------------------------------
# Logs and outputs
# ------------------------------------------------------------------------------
*.log
*.out
*.tmp

# ------------------------------------------------------------------------------
# OS + IDE cruft
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/